<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>path</key>
		<string>Photo 1.jpg</string>
		<key>name</key>
		<string>Urban Disaster</string>
		<key>user</key>
		<string>Josh</string>
	</dict>
	<dict>
		<key>path</key>
		<string>Taylor Swift 2.jpg</string>
		<key>name</key>
		<string>Taylor Swift in Love Story</string>
		<key>user</key>
		<string>Neo</string>
	</dict>
	<dict>
		<key>path</key>
		<string>Katy Perry 4.jpg</string>
		<key>name</key>
		<string>Katy Perry In Concert</string>
		<key>user</key>
		<string>Neo</string>
	</dict>
</array>
</plist>
